:root {
    --color-orange: rgb(255, 117, 24);
    --color-green: rgb(124, 252, 0);
    --color-red: rgb(255, 0, 0);
}
@media screen and (prefers-color-scheme: light) {
    :root {
        --background-color: rgb(248, 248, 255);
        --bg-color-transparent: rgb(248, 248, 255); opacity: 0.81;
        --color: rgb(74, 100, 108);
        --color-transparent: rgb(74, 100, 108); opacity: 0.75;
    }
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(0, 45, 98);
        --bg-color-transparent: rgb(0, 45, 98); opacity: 0.87;
        --color: rgb(204, 204, 204);
        --color-transparent: rgb(204, 204, 204); opacity: 0.75;
    }
}
:root { color-scheme: light dark;}

:root {
  --next-img-width: 99%;
  --textarea-width: 91.8%;
}

@media (max-width: 999px) {
  :root {
    --width: 97.2%;
    --font-size: 2.1rem; /* equivalent to 210% */
    --input-width: 99%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  :root {
    --width: 69%;
    --font-size: 1.8rem; /* equivalent to 180% */
    --input-width: 90%;
  }
}

@media (min-width: 1400px) {
  :root {
    --width: 60%;
    --font-size: 1.2rem; /* equivalent to 120% */
    --input-width: 45%;
  }
}


body {
    padding: 0;
    background-color: var(--background-color);
    color: var(--color);
    font-size: var(--font-size);
    font-family: verdana;
}

h1, h2 { margin: 0; }

h3 { text-align: center; }

ol { 
    display: flex;
    flex-direction: column-reverse;
}

header, section, footer {
    margin: 0 auto; 
    padding: 0.9rem;
    width: var(--width);
    box-sizing: border-box;
}

header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

a { text-decoration: none; }

.left_align { text-align: left; }

section { 
    border-radius: 0.45rem;
    border: 0.06em dashed var(--color);
}

#navbar {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}
#navbar a { color: var(--color); }

#navbar, #trip_buttons {
    display: flex;
    flex-wrap: wrap;
}

.userlevel0, .userlevel0 a, .safari0 a, .trip0 a { color: var(--color-transparent); }
.userlevel1, .userlevel1 a, .safari1 a, address a { color: var(--color); }
.userlevel2, .userlevel3, .userlevel2 a, .userlevel3 a, #nearmiss_orange a, .trip2 a { color: var(--color-orange); }
#accident_red a, .trip3 a { color: var(--color-red); }
.trip1 a, #accident_green a, #nearmiss_green a { color: var(--color-green); }

input, textarea, select, .button a {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-size: inherit;
    background-color: var(--background-color);
    border: 0.06em solid var(--color);
    border-radius: 0.3em;
    padding: 0.15em;
    color: var(--color);
    margin-top: 0.15em;
}
input { width: var(--input-width);}

textarea{
    width: var(--textarea-width);
    height: 90px;
    vertical-align: top;
}

input[type=checkbox] {
    vertical-align: middle;
    transform: scale(1.2);
    width: auto;
    border: 0.06em solid var(--color);
}

input[type=submit], .button a { 
    width: fit-content;
    background-color: var(--color);
    color: var(--background-color);
}

#trip_buttons {
    margin-top: 0.9%;
}

footer {
    text-align: right;
}

svg {
    width: 2.7rem;
    height: 2.7rem;
    fill: var(--color);
}

svg text {
    fill: var(--background-color);
    font-family: 'Arial';
    stroke-width: 0.03em;
}

