@media screen and (prefers-color-scheme: light) {
    :root {
        --background-color: rgba(0, 97, 153, 1);
        --bg-color-transparent: rgba(0, 97, 153, 0.81);
        --color: rgba(204, 204, 204, 1);
        --color-transparent: rgba(204, 204, 204, 0.75);
    }
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-color: rgba(0, 45, 98, 1);
        --bg-color-transparent: rgba(0, 45, 98, 0.87);
        --color: rgba(204, 204, 204, 1);
        --color-transparent: rgba(204, 204, 204, 0.75);
    }
}
:root { color-scheme: light dark;}
@media (max-width: 999px) {
    :root {
        --width: 99%;
        --next-img-width: 99%;
        --font-size: 210%;
        --input-width: 99%;
    }
}
@media only screen and (min-width: 999px) and (max-width: 1400px) {
    :root {
        --width: 69%;
        --next-img-width: 99%;
        --font-size: 180%;
        --input-width: 90%;
    }
}
@media  (min-width: 1400px) {
    :root {
        --width: 60%;
        --next-img-width: 99%;
        --font-size: 120%;
        --input-width: 45%;
    }
}

body {
    margin: 0 auto; 
    width: var(--width);
    padding: 0;
    background-color: var(--background-color);
    color: var(--color);
    font-size: var(--font-size);
    font-family: verdana;
}

h1, h2 {
    margin: 0;
    margin-left: 0.3%;
}

h3 { text-align: center; }

li { list-style: none; }

header, section, footer {
        width: 98%;
        border-radius: 0.6em;
        padding: 0.9%;
}

header{
        background-color: var(--color);
        color: var(--background-color);
        margin-top: 0.3%;
        border: 0.06em dashed var(--color);
        top: 0;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        opacity: 0.9;
        filter: alpha(opacity=90);
        z-index: 9;
}

header li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.center, section { margin:1.5% auto; }

.left_align { text-align: left; }

section {
        border: 0.06em dashed var(--color);  
        opacity: 0.75;
        filter: alpha(opacity=75);
        text-align: right;
}

fieldset {
    border-radius: 0.6em;
    border: 0.06em dashed var(--color);  
    margin-bottom: 9px;
}

#astrek {
    border: none;
    background-image: url(https://astrek.net/pub/aurora_forecast_europe.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.userlevel0, .userlevel0 a, .safari0 a, .trip0 a { color: var(--color-transparent); }
.userlevel1, .userlevel1 a, .safari1 a, .trip1 a, address a { color: var(--color); }
.userlevel2, .userlevel3, .userlevel2 a, .userlevel3 a { color: rgb(255, 165, 0) }

#accident div {
    float: right;
    width: 51%;
}

input, textarea, select, .back {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-size: inherit;
    vertical-align: middle;
    background-color: var(--background-color);
    border: 0.06em solid var(--color);
    border-radius: 0.3em;
    padding: 0.15em;
    color: var(--color);
    margin-top: 0.15em;
}
input, textarea {
    width: var(--input-width);
}

textarea{
    width: 95%;
    height: 90px;
    vertical-align: top;
}

input[type=checkbox] {
    transform: scale(1.2);
    width: auto;
    border: 0.06em solid var(--color);
}

input[type=submit], .back { 
    width: fit-content;
    background-color: var(--color);
    color: var(--background-color);
    border: 0.06em solid var(--background-color);
}

.back { 
    margin: auto 0.3% 0.3% auto;
    }
.svg_color { fill: var(--color); }
.svg_text {
        fill: var(--background-color);
        font-family: 'Arial';
        stroke-width: 0.03em;
}

footer {
    text-align: center;
    font-size: 0.6em; 
}

footer svg {
        width: 4.5em;
        height: 4.5em;
}
